@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  margin: 0px;
}

.chas-logo {
  max-width: 150px;
  min-width: 100px;
  padding: 30px;
}

.top {
  background-image: url(./images/bg.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  max-width: 600px;
  padding-bottom: 40px;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: x-large;
  width: 100%;
}

.cta-button {
  border: none;
  border-radius: 30px;
  background-color: #5a2fcf;
  color: #f8f8f8;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: medium;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  background-image: radial-gradient(ellipse, #e9f1fa, #c5e3ed);
}

.img-gaze {
  max-width: 50%;
  border-radius: 20px;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 40%;
}

.review {
  display: flex;
  justify-content: space-evenly;
  align-items: first baseline;
  background-image: linear-gradient(to top, #e9f1fa, #d8eff7);
  padding-bottom: 40px;
}

.img-student {
  width: 100%;
}

.student-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  border-top: 5px solid #47545821;
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.footer-links > a {
  text-decoration: none;
  color: #1b1717;
  padding: 3px;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.hamburger {
  display: none;
  padding: 10px;
}
.cta-button:hover {
  cursor: pointer;
  background-color: #5a2fcf3b;
  box-shadow: 0px 0px 7px white;
}

.cta-button-bottom:hover {
  cursor: pointer;
  background-color: #2d049d87;
  box-shadow: 0px 0px 6px blue;
  color: black;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .navlinks {
    display: none;
  }

  .hamburger {
    display: flex;
    color: black;
    font-size: 2rem;
  }

  .hamburger:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px #fff;
    border-radius: 50%;
    color: goldenrod;
  }

  .about {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }

  .review {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
